.text {
  width: 700px;
  background-color: darkred;
  margin: 0 auto;
  margin-top: -150px;
  padding: 30px;
  color: azure;
  border-radius: 20px;
}

.main-about {
  background-color: rgb(255, 175, 172);
  margin: -8px;
  padding-top: 8px;
  height: 1200px;
  width: 101.7%;
  margin-top: -20px;
}

@media (max-width: 750px) {
  .text {
    width: 400px;
  }
}

.main-about h2 {
  margin: 60px;
  margin-left: 200px;
  width: 300px;
  height: 150px;
}

.text a {
  text-decoration: none;
  color: rgb(241, 157, 0);
}

.text a:hover {
  background-color: rgb(218, 8, 8);
  border-radius: 7px;
}
