.side-images img {
  width: 630px;
  height: 350px;
  margin-right: 15px;
  margin-top: 20px;
}
.carousel {
  margin-left: 40px;
}
.carousel img {
  opacity: 0.8;
}
.btn1 {
  margin-right: -10px;
}
.btn2 {
  margin-left: 1270px;
}

.btn1,
.btn2 {
  border: none;
  background-color: transparent;
  float: inherit;
}
