.side-images img {
  width: 600px;
  height: 320px;
  margin-right: 15px;
  margin-top: 20px;
}
.carousel {
  margin-left: 40px;
}
.carousel img {
  opacity: 0.8;
}
.btn1 {
  margin-left: -10px;
  float: left;
}
.btn2 {
  margin-left: 1200px;
  float: right;
}

.btn1,
.btn2 {
  border: none;
  background-color: transparent;
  position: absolute;
}
