.main-menu {
  background-color: rgb(255, 175, 172);
  margin: -8px;
  padding-top: 8px;
  height: 600px;
}

.form {
  text-align: center;
  margin-left: 480px;
  margin-top: 50px;
  width: 500px;
  height: 300px;
  background-color: darkred;
  border-radius: 20px;
}

@media (max-width: 800px) {
  .form {
    width: 400px;
    margin-left: 330px;
  }
}

@media (max-width: 450px) {
  .form {
    width: 400px;
    margin-left: 100px;
  }
  .summary {
    margin-top: 350px;
  }
}

.form h1 {
  padding-top: 50px;
  color: rgb(255, 244, 244);
}

.form input {
  width: 300px;
  height: 28px;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
}

.form button {
  margin-top: 40px;
  width: 100px;
  height: 40px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  background-color: rgb(255, 244, 244);
}

.predict {
  color: rgb(255, 244, 244);
  font-size: 20px;
}

.summary {
  margin-top: -200px;
  margin-right: 70px;
}

.summary ul {
  list-style: none;
  background-color: rgb(226, 103, 103);
  text-align: center;
  width: 200px;
  padding: 50px;
  margin-top: -30px;
  border-radius: 40px;
}

.predict-A {
  color: aqua;
}

.predict-B {
  color: rgb(50, 223, 50);
}

.predict-C {
  color: rgb(255, 208, 0);
}

.predict-D {
  color: rgb(255, 174, 0);
}

.predict-E {
  color: rgb(223, 19, 19);
}
